n8n_automation/workflows/crypto/crypto-signal-paper.json
{
  "id": "wfCryptoSigPaper1",
  "name": "crypto-signal-paper",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 4 }]
        }
      },
      "id": "c1020001-0001-4000-8000-000000000001",
      "name": "Every 4 hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "url": "http://db-api:8000/api/config/crypto_config",
        "options": {}
      },
      "id": "c1020001-0001-4000-8000-000000000002",
      "name": "Read Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.mode }}",
              "rightValue": "dry_run",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "c1020001-0001-4000-8000-000000000003",
      "name": "Paper Mode",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "url": "http://db-api:8000/api/crypto/pairs",
        "options": {}
      },
      "id": "c1020001-0001-4000-8000-000000000004",
      "name": "Get Pairs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 200]
    },
    {
      "parameters": {
        "jsCode": "const pairs = $input.first().json;\nconst list = Array.isArray(pairs) ? pairs : [];\nreturn list.map(symbol => ({ json: { symbol } }));"
      },
      "id": "c1020001-0001-4000-8000-000000000005",
      "name": "Split Pairs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://db-api:8000/api/paper/crypto/run?symbol={{ $json.symbol }}",
        "options": { "timeout": 180000 }
      },
      "id": "c1020001-0001-4000-8000-000000000006",
      "name": "Run Paper Trade",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 200]
    }
  ],
  "connections": {
    "Every 4 hours": { "main": [[{ "node": "Read Config", "type": "main", "index": 0 }]] },
    "Read Config": { "main": [[{ "node": "Paper Mode", "type": "main", "index": 0 }]] },
    "Paper Mode": {
      "main": [
        [{ "node": "Get Pairs", "type": "main", "index": 0 }],
        []
      ]
    },
    "Get Pairs": { "main": [[{ "node": "Split Pairs", "type": "main", "index": 0 }]] },
    "Split Pairs": { "main": [[{ "node": "Run Paper Trade", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "errorWorkflow": "shared-global-error-handler" },
  "tags": [{ "name": "crypto" }, { "name": "env/testnet" }],
  "active": false
}
