n8n_automation/workflows/shared/shared-telegram-alert.json
{
  "id": "wfTelegramAlt001",
  "name": "shared-telegram-alert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-alert",
        "options": {}
      },
      "id": "t9010001-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "telegram-alert"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst level = body.level || 'INFO';\nconst message = body.message || 'alert';\nconst disclaimer = 'Automated signal. Not financial advice.';\nreturn [{ json: { text: `[${level}] ${message}\\n\\n${disclaimer}` } }];"
      },
      "id": "t9010001-0001-4000-8000-000000000002",
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://db-api:8000/api/notify/telegram",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { level: $json.level || 'INFO', message: $json.message || $json.text || 'alert' } }}",
        "options": {}
      },
      "id": "t9010001-0001-4000-8000-000000000003",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 300],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Format Message", "type": "main", "index": 0 }]] },
    "Format Message": { "main": [[{ "node": "Send Telegram", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "shared" }],
  "active": false
}
