n8n_automation/workflows/shared/shared-global-error-handler.json
{
  "id": "wfGlbErrHandler01",
  "name": "shared-global-error-handler",
  "nodes": [
    {
      "parameters": {},
      "id": "22222222-2222-2222-2222-222222222201",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json;\nconst workflow = payload.workflow?.name ?? 'unknown';\nconst execution = payload.execution?.id ?? 'unknown';\nconst message = payload.execution?.error?.message ?? payload.trigger?.error?.message ?? 'unknown error';\n\nreturn [{\n  json: {\n    event: {\n      market: 'shared',\n      env: 'dry_run',\n      stage: 'error',\n      decision: 'error',\n      reject_reason: message,\n      workflow_name: workflow,\n      execution_id: String(execution),\n      payload: {\n        workflow_id: payload.workflow?.id,\n        last_node: payload.execution?.lastNodeExecuted,\n        mode: payload.execution?.mode,\n        raw: payload,\n      },\n    },\n    obsidian_line: `- ${new Date().toISOString()} **${workflow}**: ${message}`,\n  },\n}];"
      },
      "id": "22222222-2222-2222-2222-222222222202",
      "name": "Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://db-api:8000/api/events",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.event }}",
        "options": {}
      },
      "id": "22222222-2222-2222-2222-222222222203",
      "name": "Log Error to DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 300],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error": {
      "main": [
        [
          {
            "node": "Log Error to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "shared" }
  ],
  "active": false
}
